.App, #root, .nav-content-container {
  height:100%;
  width: 100%;
}

.name {
  font-size: 64px;
  margin: 45px 0px 0px 0px;
  font-weight: 300;
  font-size: 3rem;
}

.job-title {
  font-weight: lighter;
  font-size: 1rem;
  margin: 10px 0px 0px 0px;
}

.name-info {
  display: inline-block;
  margin-left: 55px;
}


.content-container {
  float: right;
  margin: 65px 40px 0px 0px;
  width: 73%;
  height: 70vh;
  overflow-y: scroll
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #4C3A51;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #E7AB79;
opacity: 0.8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #e7b790;
}

::-webkit-scrollbar-corner {
background: #4C3A51;
}